<ul>Python<ul>

<ul>      List-
      1>List is a non-homogeneous data structure that stores the elements in single row and multiple rows and columns.
      2>List can be represented by [ ]
      3>List allows duplicate elements
      4>List can be created using list() function
      5>List is mutable i.e we can make any changes in list.
      Example: [1, 2, 3, 4, 5]   <ul>

In [ ]:
#List-
     1>List is a non-homogeneous data structure that stores the elements in single row and multiple rows and columns.
     2>List can be represented by [ ] 
     3>List allows duplicate elements 
     4>List can be created using list() function 
     5>List is mutable i.e we can make any changes in list. Example: [1, 2, 3, 4, 5]

In [ ]:
#Tuple-
       1>Tuple is also a non-homogeneous data structure that stores single row and multiple rows and columns
       2>Tuple can be represented by ()
       3>Tuple allows duplicate elements
       4>Tuple can be created using tuple() function
       5>Tuple  is immutable i.e we can not make any changes in tuple
       Example: (1, 2, 3, 4, 5)

In [ ]:
#sets-
      1>Set data structure is also non-homogeneous data structure but stores in single row
      2>Set can be represented by { }
      3>Set will not allow duplicate elements
      4>Set can be created using set() function
      5>Set is mutable i.e we can make any changes in set. But elements are not duplicated.
      Example: {1, 2, 3, 4, 5}

In [ ]:
#Dictionary-
      1>Dictionary  is also non-homogeneous data structure but stores in single row
      2>Dictionary can be represented by { }
      3>Set will not allow duplicate elements and dictionary doesnâ€™t allow duplicate keys.
      4>Dictionary can be created using dict() function.
      5>Dictionary is mutable. But Keys are not duplicated.
      Example: {1, 2, 3, 4, 5}

In [1]:
3**2

9

In [3]:
231%10

1

In [4]:
231//10

23

In [24]:
#234=2*3*4=24
i=int(input())
while i>0:
    prod=prod*(i%10)
    i=i//10
print(prod)

234
24

In [2]:
#EX-231-(2^3+3^3+1^3)=36
i=int(input())
sum=0
while i >0:
    sum=sum+(i%10)**3
    i=i//10
print(sum)

231
36

In [14]:
#Amstrang no -153-1^3+5^3+3^3=153-yes
i=int(input())
count=0
n=i
while (i>0):
    i=i//10
    count=count+1
sum=0
i=n
while(i>0):
    digit=i%10
    x=1
    prod=1
    while(x<=count):
        prod=prod*digit
        x=x+1
    sum=sum+prod
    i=i//10
if n==sum:
    print('Amstrang')
else:
    print('No')

153
Amstrang

In [23]:
#Amstrang no -153-1^3+5^3+3^3=153-yes
i=int(input())
n=i
count=0
while(i>0):
    i=i//10
    count=count+1
i=n
sum=0
while (i>0):
    sum=sum+(i%10)**count
    i=i//10
if n == sum:
    print('yes')
else:
    print('no')

153
yes

In [25]:
#Reverse-237=732
i=int(input())
rev=0
while i>0:
    rev=(rev*10)+(i%10)
    i=i//10
print(rev)

237
732

In [26]:
#palidrome no-525-525
i=int(input())
rev=0
n=i
while i >0:
    rev=(rev*10)+(i%10)
    i=i//10
if (rev==n):
    print("Palidrome no")
else:
    print("Not A Palidrome no")

525
Palidrome no

In [27]:
#Check given no prime or not ;Ex-13=13 can be divide by 1 and 13 only
n=int(input())
i=1
count=0
while n >= i:
    if n%i ==0:
        count=count+1
    i=i+1
if count==2:
    print('This is prime no')
else:
    print('composite no')

13
This is prime no